@import '@/assets/styles/normalize.scss';
@import '@/assets/styles/variables.scss';

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100vh;
  display: grid;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease-in-out;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
